body{
    background-color: whitesmoke;
    
}
table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 10px;
    margin: auto;
}


.Timeplan{
    font-size: 2em;
    background-color:bisque;
}
.title{
    background-color:antiquewhite;

}

tbody > tr{
    text-align: center;
}

td{
    width: 10em;
    max-width: 15em;
    color:black;
    
}

.Norsk{
    background-color:#f28482;
    height: 120px; 
    top: 20px;
    left: 0%;
}
.kjemi{
    background-color:  rgb(162, 199, 31);
    height: 120px;
    top: 220px;
    left: 0%;
}
.fysikk{
    background-color:  rgb(18, 175, 157);
    height: 120px;
    top: 220px;
    left: 0%;
}
.r2{
    background-color:   rgb(189, 234, 197);
    height: 120px;
    top: 220px;
    left: 0%;
}
.historie{
    background-color:  rgb(245, 210, 36);
    height: 120px;
    top: 220px;
    left: 0%;
}

.it{
    background-color:  rgb(157, 210, 177);
    height: 120px;
    top: 220px;
    left: 0%;
}
.gym{
    background-color:  rgb(161, 232, 242);
    height: 120px;
    top: 220px;
    left: 0%;
}
.tysk{
    background-color: rgb(253, 180, 251);
    height: 120px;
    top: 220px;
    left: 0%;
}

a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: auto;
    margin-top: 15px;
    
  }
  
  a:hover, a:active {
    background-color: red;
  }
    


td:hover{
    font-weight: bold;
}
.Timeplan2{
    justify-content: center;
}

